// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#taskio .checkbox {
  display: none;
}

#taskio {
  margin: 2px
}

#delete {
  border-radius: 6px;
  margin: 0 2px;
}

.completed-task .btn {
  text-decoration: line-through;
}
